{% load urldecode %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}SSID ABI v2.0{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% endblock %}
    {% block head %}{% endblock %}
</head>

<body onload="initialize()">
<div id="sidebar">
    {% filter urldecode %}
        <a href="{% url "clientlist" %}">Clients</a> | <a href="{% url "networks" %}">Networks</a> |
        <a href="{% url "applewloc" '00:1e:52:7a:ae:ad' %}">Apple WiFi Geolocation</a> |
        <a href="{% url "apple-mobile-lte" cellid='505:1:12288:135943937' %}">Apple LTE Geolocation</a> |
        <a href="{% url "apple-mobile" cellid='505:3:334:87401254' %}">Apple GSM/3G Geolocation</a> |
        <a href="{% url "locatessid" 'blackhat' %}">Wigle SSID Search</a> |
        <a href="{% url "stats" %}">Stats</a>{% endfilter %}
</div>
{% block content %}{% endblock %}
</body>
</html>
