{% extends "base.html" %}
{% load dict_lookup %}

{% block head %}
    <script>
        function initialize() {
        }
    </script>
{% endblock %}

{% block content %}

    <h2>{{ devicecount }} devices probing for {{ apcount }} networks detected (Client List)</h2>
    <table class="zebra">
        <thead>
        <tr>
            <th width="10%">MAC | Name</th>
            <th width="8%">Manufacturer</th>
            <th>Probed for</th>
            <th width="15%">Last detected</th>
        </tr>
        </thead>
        {% for client in object_list %}
            <tr class="{% cycle '' 'alt' %}">
                <td><a href="{% url "client" client.mac %}">{{ client.mac }}</a>{% if client.name %}<br>{{ client.name }}{% endif %}</td>
                <td>{{ client.manufacturer }}</td>
                <td>{% for ap in probedict|key:client %}
                    {{ ap.SSID|safe }}{% if probedict|key:client|length > 1 and forloop.last == False %};{% endif %}
                {% endfor %}
                </td>
                <td>{{ client.lastseen_date }}</td>
            </tr>
        {% endfor %}
    </table>
    </ul>

{% endblock %}
